
.cardPelicula{
    display: flex;
    justify-content: left;
}
.cardPelicula h2{
    margin: 2px;
    margin-right: 5px;
}
.nombrePelicula{
    width: 250px;
}
.botones{
    margin: 2px;
    height: 20px;
    margin-top: 3px;
}